[Dataloader]
scan_path = ../data/Original/Original
mask_path = ../data/Silver-standard-machine-learning/Silver-standard
source_domain = ge
target_domain = philips
scan_type = 3
batch_size_train = 8
batch_size_eval = 1
[Classification]
model = unet_with_adversarial
LR_a = 1e-3
LR_s = 1e-4
LR_d = 1e-4

EPOCHS = 100
EVAL_FREQ = 1
SAVE_FREQ = 1

[Segmentation]
