[Dataloader]
scan_path = ../data/Original/Original
mask_path = ../data/Silver-standard-machine-learning/Silver-standard
source_domain = ge
target_domain = philips
scan_type = 3
batch_size = 8

[Classification]
model = unet_without_adversial
LR_a = 1e-3
LR_s = 1e-5
LR_d = 1e-5

EPOCHS = 15
EVAL_FREQ = 1
SAVE_FREQ = 1

[Segmentation]